<?xml version="1.0" ?>

<launch>
	<!-- JetHexa Compatibility -->
	<arg name="master_name" default="$(env MASTER_NAME)"/>
	<arg name="robot_name" default="$(env ROBOT_NAME)" />
	<arg name="tf_prefix" default="$(arg robot_name)" />
	<arg name="waypoints" default="waypoints" />	
	<arg name="base_frame_id" default="$(arg tf_prefix)/base_link"/>
    	<arg name="map" default="tj_room" />
	<arg name="map_file" default="$(find uav_follower)/maps/$(arg map).yaml" />
    
	<include file="$(find jethexa_peripherals)/launch/camera.launch"></include>
	

	<!-- uav_follower Nodes--> 	
	<group ns="uav_follower">
<!-- -->
        <!-- JetHexa Map Nodes -->
		<include file="$(find jethexa_navigation)/launch/jethexa_load_map.launch">
			<arg name="map_file" value="$(arg map_file)" />
		</include> 
		
		<include file="$(find uav_follower)/launch/include/jethexa_navigation.launch">
			<arg name="clicked_point" value="$(arg waypoints)" />

		</include>
<!-- -->
		<rosparam command="load" file="$(find uav_follower)/config/uav_follower_params.yaml" />
		<node name="ss00_Liaison" pkg="uav_follower" type="ss00_Liaison.py" output="screen" required="true">
			<param name="move_base_result" value="$(arg robot_name)/move_base/result"/>
		</node>
		<node name="ss01_Photographer" pkg="uav_follower" type="ss01_Photographer.py" output="screen" required="true"></node>
		<node name="ss02_Detector" pkg="uav_follower" type="ss02_Detector.py" output="screen" required="true"></node>
		<node name="ss03_DataProcessor" pkg="uav_follower" type="ss03_DataProcessor.py" output="screen" required="true">
			<param name="base_frame_topic" value="$(arg base_frame_id)" />
			<param name="waypoints" value="$(arg robot_name)/$(arg waypoints)" />	
		</node>
	</group>
</launch>

